.header
  .header__inner
    .header__inner__top
      %h1.logo
        = link_to root_path do
          = image_tag 'furima.svg'
      .searchbox
        %form{action: '#', method: 'get'}
          %input{name: "utf8", type: "hidden", value: "✔︎"}
          %input{class: "searchbox--input", name: "key", placeholder: "お探しの商品は何ですか？"}
          %button{type: "submit", value: ""}
            .searchbox__icon
              = image_tag "icon-search.png"

    %nav.header__inner__nav
      %ul.list__left
        %li.list__left__category
          .categories
            カテゴリー
            %ul.category__parent.category__list
              - @categories.roots.each do |parent|
                %li
                  = link_to "#", class: "category__parent--name" do
                    = parent.name
                  %ul.category__child.category__list
                    - parent.children.each do |child|
                      %li
                        = link_to "#", class: "category__child--name" do
                          = child.name
                        %ul.category__grandchild.category__list
                          - child.children.each do |grandchild|
                            %li
                              = link_to "#", class: " category__child--name" do
                                = grandchild.name 
            -# - @categories.roots.each do |parent|
            -#   .category_prepare
            -#     .category_parent_box
            -#       = parent.name
            -#       .category_child_box
            -#         - parent.children.each do |child|
            -#           .category-child-name 
            -#             = child.name
            -#             .category_grandchild_box
            -#               - child.children.each do |grandchild|
            -#                 .category-grandchild-name
            -#                   = grandchild.name
                
        %li.list__left__brand
          = link_to "#" do
            %span ブランド
      %ul.list__rightc
        - if user_signed_in?
          %li.list__right__login
            = link_to "/users/#{current_user.id}" do
              %span マイページ
          %li.list__right__new
            = link_to destroy_user_session_path, method: :delete do
              %span ログアウト
        - else
          %li.list__right__login
            = link_to new_user_session_path do
              %span ログイン 
          %li.list__right__new
            = link_to new_user_registration_path do
              %span 新規会員登録
