= render partial: "template/header"
= render partial: "template/sellbtn"

.edit-user
  %h2
    メールアドレス/パスワードの変更
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = render "devise/shared/error_messages", resource: resource
    .field
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email"
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div
        メールアドレス: #{resource.unconfirmed_email}  は、現在認証待ちです。
    .field
      = f.label :password
      - if @minimum_password_length
        %br/
        %span
          = @minimum_password_length
          文字以上のパスワードを設定してください
          %br/
      %i (パスワードを変更
      %span しない
      場合は、
      %span 空欄のまま
      下の「変更する」のボタンを押してください)
      %br/
      = f.password_field :password, autocomplete: "new-password"
    .field
      = f.label :password_confirmation
      %br/
      = f.password_field :password_confirmation, autocomplete: "new-password"
    .field
      = f.label :current_password
      %br/
      %i (新しいEメールやパスワードに更新を希望する場合は、認証のため現在のパスワードを入力してください)
      %br/
      = f.password_field :current_password, autocomplete: "current-password"
    .actions
      = f.submit "変更する", class: 'change-btn'
  = link_to user_path(resource) do
    .back-to-user-mypage
      マイページに戻る

= render partial: "template/banner"
= render partial: "template/footer"