= render partial: "template/header"
= render partial: "template/sellbtn"

- breadcrumb :mypage_card
= render 'template/breadcrumbs'

.user-showPage
  .user-showPage__main
    = render "users/side_bar"

    .main-information
      .main-information__payTop
        %h2 支払い方法
      .main-information__payMiddle
        %p クレジットカード一覧
        .main-information__payMiddle__credit-AdditionBtn
          = icon("far", "credit-card")
          = link_to "クレジットカードを追加する", new_credit_card_path, method: :get

= render partial: "template/banner"
= render partial: "template/footer"
