= render partial: "template/header"
= render partial: "template/sellbtn"

.creditCard-wrapper
  .creditCard-wrapper__inner
    .creditCard-wrapper__inner__title
      %h1 クレジットカード情報入力

    .creditCard-wrapper__inner__form
      = form_with model: @card, url: pay_credit_cards_path, method: :post, id: "card-form", local: true do |f|
        .creditCard-wrapper__inner__form__card-number
          %label カード番号
          %span.essential-redBox 必須
          %br
          = f.text_field :card_number, type: "text", class: "cardNumber-input", id: "card-number", placeholder: "半角数字のみ", maxlength: "16"

        .creditCard-wrapper__inner__form__dayLimit
          %label 有効期限
          %span.essential-redBox 必須
          %br
          = f.select :exp_month, [["01",1], ["02",2], ["03",3], ["04",4], ["05",5], ["06",6], ["07",7], ["08",8], ["09",9], ["10",10], ["11",11], ["12",12]], {}, class: 'dateSelect', id: 'card-month'
          月

          = f.select :exp_year, [["20",2020], ["21",2021], ["22",2022], ["23",2023], ["24",2024], ["25",2025], ["26",2026], ["27",2027], ["28",2028], ["29",2029]], {}, class: 'dateSelect', id: 'card-year'
          年

        .creditCard-wrapper__inner__form__security-code
          %label セキュリティーコード
          %span.essential-redBox 必須
          %br
          = f.text_field :cvc, type: 'text', class: 'security-input', id: 'card-cvc', placeholder: "カード背面4ケタor3ケタの番号", maxlength: "4"

        .creditCard-wrapper__inner__form__addBtn
          =f.submit "クレジットカードを登録する", id: "token_submit", class: "card-btn"
        
= render partial: "template/banner"
= render partial: "template/footer"
