-# %label 登録クレジットカード情報
-# %br
-# = "**** **** ****" + @default_card_information.last4

-# %br
-# - exp_month = @default_card_information.exp_month.to_s
-# - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
-# = exp_month + "/" + exp_year
-# = form_tag(delete_credit_cards_path, method: :post) do
-#   %input{ type: "hidden", name: "credit-card_id", value: "" }
-#   %button 削除する

= render partial: "template/header"
= render partial: "template/sellbtn"

.creditCard-wrapper
  .creditCard-wrapper__inner
    .creditCard-wrapper__inner__title
      %h1 クレジットカード一覧

    .creditCard-wrapper__inner__contents
      .creditCard-wrapper__inner__contents__creditCard-information
        .creditCard-wrapper__inner__contents__creditCard-information__number
          %p **** **** **** 1111
        .creditCard-wrapper__inner__contents__creditCard-information__date
          %p 07/25
      .creditCard-wrapper__inner__contents__deleteBtn
        = form_tag(delete_credit_cards_path, method: :post) do
          %input{ type: "hidden", name: "credit-card_id", value: "" }
          %button 削除する

= render partial: "template/banner"
= render partial: "template/footer"
