= render partial: "template/header"
= render partial: "template/sellbtn"

- breadcrumb :mypage_logout
= render 'template/breadcrumbs'

.user-showPage
  .user-showPage__main
    = render "side_bar"
    
    .main-information
      -if current_page?(logout_user_path)
        .main-information__logout-btn
          = link_to "ログアウト", destroy_user_session_path, method: :delete

= render partial: "template/banner"
= render partial: "template/footer"