= render partial: "template/header"
= render partial: "template/sellbtn"

.mypage__personal_infomation
  .mypage__side_bar
    = render "side_bar"
  .personal_infomation
    %h1.title
      登録されている個人情報
    %p.suggestion
      変更したい場合は、下の「変更する」ボタンより変更をお願いします
    .name
      %span
        お名前
      .last_name
        = @user.last_name
      .first_name
        = @user.first_name
    .name__kana
      %span
        お名前カナ
      .last_name__kana
        = @user.last_name_kana
      .first_name__kana
        = @user.first_name_kana
    .birthday
      %span
        生年月日
      .birthday
        = @user.birthday
    .postal_code
      %span
        郵便番号
      .postal_code
        = @address.postal_code
    .prefecture
      %span
        都道府県
      .prefcture__name
        = @address.prefecture.name
    .city 
      %span
        市区町村
      .city__form
        = @address.city
    .block
      %span
        番地
      .block__form
        = @address.block
    .building
      %span
        建物名
      .building__form
        = @address.building
    = link_to '#', class: "link-btn" do
      .link-btn
        変更する

= render partial: "template/banner"
= render partial: "template/footer"