= render partial: "template/header"
= render partial: "template/sellbtn"

.user-showPage
  .user-showPage__main
    = render "side_bar"
    .user_show-item
      .item__info
        .item__info__area
          %p.item__info__area--title
            購入した商品
            - @items.each do |item|
              .item__info__area__box
                = link_to "",item_path(item.id),class:"purchase_link"
                - image = Image.find_by(item_id: item.id)
                .item__info__area__box__picture
                  = image_tag image.src_url, alt: 'サブ画像', height: '78px', width: '80px'
                %p.item__info__area__box__item_name
                  =item.name
                  を購入しました。
                %p.item__info__area__box__item_btn
                  >
          
        = paginate @items


= render partial: "template/banner"
= render partial: "template/footer"