= render partial: "template/header"
= render partial: "template/sellbtn"

- breadcrumb :mypage
= render 'template/breadcrumbs'

.user-showPage
  .user-showPage__main
    = render "side_bar"
    = render "main_bar"

= render partial: "template/banner"
= render partial: "template/footer"