.login-main
  %header.login-page-header
    =link_to root_path do
      .header-logo
        = image_tag 'logo.png'
  .login-page
    .login-page__register
      .login-page__register__text
        アカウントをお持ちでない方はこちら
      =link_to new_user_registration_path do
        .login-page__register__btn
          新規会員登録
         
    .login-page__login
      .login-page__form.user-form
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          %p.alert
            = alert
          .field-email
            .field-email__input
              = f.email_field :email, autofocus: true, placeholder: 'メールアドレス'
          .field-password
            .field-password__input
              = f.password_field :password, autocomplete: "off", placeholder: 'パスワード'
            .actions
              = f.submit "ログイン", class: 'login-btn'
      .sns_login
        = link_to 'Facebookでログイン', user_facebook_omniauth_authorize_path, method: :post

  %footer.login-page-footer
    %ul.footer-links
      %li
        =link_to "プライバシーポリシー", root_path
      %li
        =link_to "利用契約", root_path
      %li
        =link_to "特定取引に関する表記", root_path
    
    =link_to root_path do
      .footer-logo
        =image_tag 'logo-white.png'
    %p
      ©a班