.sideBar-Wrapper
  .sideBar-Top
    %ul.sideBar-contents
      %li
        = link_to "マイページ", user_path, method: :get
      %li
        = link_to "いいね！した商品"
      %li
        = link_to "ブックマークした商品"
      %li
        = link_to "最近チェックした商品"
      %li
        = link_to "コメントした商品"
      %li
        = link_to "下書きした商品"
      %li
        = link_to "商品を出品する"
      %li
        = link_to "出品した商品"
      %li
        = link_to "購入した商品"
      %li
        = link_to "お知らせ"

  .sideBar-Low
    %h2 設定
    %ul.sideBar-contents
      %li
        = link_to "プロフィール"
      %li
        = link_to "住所変更"
      %li
        = link_to "メール/パスワード変更"
      %li
        = link_to "支払い方法", credit_cards_path, method: :get
      %li
        = link_to "本人確認"
      %li
        = link_to "ログアウト"

        -# , logout_index_path, method: :get