= link_to '#' do
  - @items.each do |item|
    .pickup__list__img
      = image_tag(item.images.first.src.url)
        - if item.buyer_id.present?
        .pickup__list__img__soldBox
          .pickup__list__img__soldBox--soldOut
            SOLD
    .pickup__list__body
      = item.name
      .details
        %ul
          %li
            = "#{item.price.to_s(:delimited)}円"
          %li.likeicon
            %i.fa.fa-star
              1
        %p (税込)

-# = image_tag "a007.png"