= render partial: "template/header"
= render partial: "template/sellbtn"

.main
  %section.firstView
    .firstView__content
      %h2.firstView__content__copy
        %br 人生を変えるフリマアプリ
      %p.firstView__content__text 
        FURIMAはだれでもかんたんに出品・購入できる
        %br フリマアプリです
      .firstView__content__btn
        .applebtn
          = image_tag 'app-store.svg'
        .googlebtn
          = image_tag 'google-play.svg'
  %section.introduction
    %h2.introduction__title 
      FURIMAが選ばれる3つの理由
      .introduction__sub
    %ul.lists
      %li.list
        .list__img
          %span.number 1
          = image_tag "pict-reason-01.jpg"
        %h3.list__sub
          %span 3分
          ですぐに出品
        %p.list__explanation スマホで入力するだけで簡単に出品できる！
      %li.list
        .list__img
          %span.number 2
          = image_tag "pict-reason-02.jpg"
        %h3.list__sub
          %span シンプル
          で使いやすい
        %p.list__explanation めんどくさい入力は必要なく、検索も購入もスムーズ！
      %li.list
        .list__img
          %span.number 3
          = image_tag "pict-reason-03.jpg"
        %h3.list__sub
          手数料
          %span 業界最安
        %p.list__explanation 最大3%でお得に出品&購入！
  %section.middleBanner
    .middleBanner__content
      %h2.middleBanner__content__title 会員数日本一位
      %p.middleBanner__content__text
        FURIMAは、フリマアプリで最も人気。
        %br 出品・購入回数も業界最多です！
        %br ほしかったあの商品に出会えるかもしれません。
      .middleBanner__content__btn
        .applebtn
          = image_tag "app-store.svg"
        .googlebtn
          = image_tag "google-play.svg"
  %section.features
    %h2.features__title
      FURIMAの特徴

.banner
  .banner__content
    %h2.banner__content__title だれでもかんたん、人生を変えるフリマアプリ
    %p.banner__content__text 今すぐ無料ダウンロード！
    .banner__content__btn
      .applebtn
        = image_tag 'app-store.svg'
      .googlebtn
        = image_tag 'google-play.svg'

= render partial: "template/footer"