%header.login-page-header
  =link_to root_path do
    .header-logo
      = image_tag 'logo.png'
.sell_confirm
  .sell_confirm__main
    %h2.sell_confirm__main--head
      出品内容の確認
    .sell_comfirm__main__item
      .sell_comfirm__main__item__left
        = image_tag "IMG_main.jpg", alt: 'img画像',  height: '100px', width: '100px', class: 'comfirm_main__item__left--img'
      .sell_comfirm__main__item__right
        %h6.sell_comfirm__main__item__right__title
          出品する商品の名前
        .sell_comfirm__main__item__right__lower
          %p.comfirm__main__item__right__lower--detail
            商品の説明
    .sell_comfirm__main__category
      %h3.sell_comfirm__main__category__name
        カテゴリー
    .sell_comfirm__main__brand
      %h3.sell_comfirm__main__brand__name
        ブランド
    .sell_comfirm__main__status
      %h3.sell_comfirm__main__status
        商品の状態
    %ul.sell_comfirm__main__price
      %li.sell_comfirm__main__price__amount
        商品の販売価格
        ¥10000
      %li.sell_comfirm__main__price__fee
        販売手数料(10%)
      %li.sell_comfirm__main__price__gain
        販売利益
    .sell_comfirm__main__shipping
      .sell_comfirm__main__shipping__headder
        %h3.sell_comfirm__main__shipping__headder__left
          発送元の地域
        = link_to "変更する >" ,"#", class:"comfirm_main__address__hedder__right"
      %ul.sell_comfirm__main__shipping__list
        %li.sell_comfirm__main__shipping__list--payer
          配送料の負担
        %li.sell_comfirm__main__shipping__list--shippingdays
          発送までの日数
    .sell_comfirm__main__sell
      = link_to "出品する" ,"#", class:"comfirm__main__sell--btn"
      = link_to "戻る" , "#", class:"comfirm__main__sell--back_btn"
%footer.login-page-footer
  %ul.footer-links
    %li
      =link_to "プライバシーポリシー", root_path
    %li
      =link_to "利用契約", root_path
    %li
      =link_to "特定取引に関する表記"
  =link_to root_path do
    .footer-logo
      =image_tag 'logo-white.png'
  %p
    ©a班 