= render 'template/header'
.item_show-wrapper
  = render 'template/sellbtn'
  .item_show-wrapper__main
    .item_show-wrapper__main__img
      %h2.item_show-wrapper__main__img-title
        = @item.name
      .item_show-wrapper__main__img--area
        - if @item.buyer_id.present?
          .item_show-wrapper__main__img--area--solad
            %h2.solad-title
              SOLD
        .item_show-wrapper__main__img--area--main
          = image_tag @item.images[0].src_url, alt: 'メイン画像', height: '350px', width: '560px',id:"MainPhoto"
      %ul.item_show-wrapper__main__img-sub 
        - @item.images.each do |image|
          %li.item_show-wrapper__main__img-sub--photo
            = image_tag image.src_url, alt: 'サブ画像', height: '90px', width: '100px',class:"ChangePhoto"
      %p.item_show-wrapper__main__img-price
        ¥ 
        = @item.price 
        
        %p.item_show-wrapper__main__img-price-detail
          = @item.shipping_burden.name
        %p.item_show-wrapper__main__img-price-text
          = @item.explain
    .item_show-wrapper__main__teble
      %table.item_show-wrapper__main__teble__date
        %tr  
          %th  
            出品者
          %td
            = @seller.nickname
        %tr  
          %th 
            カテゴリー
          %td
            = @item.category.parent.parent.name
            = @item.category.parent.name
            = @item.category.name
        %tr  
          %th 
            ブランド
          %td
            = @item.brand
        %tr  
          %th 
            商品の状態
          %td
            = @item.state.name
        %tr  
          %th 
            配送料の負担
          %td
            = @item.shipping_burden.name
        %tr  
          %th  
            発送元の地域
          %td
            = @item.prefecture.name
        %tr  
          %th
            発送日の目安
          %td
            = @item.shipping_day.name
    -# .item_show-wrapper__main__optionalArea
    -#   .item_show-wrapper__main__optionalArea_like
    -#     = icon('fas', 'star')
    -#     お気に入り 1
    -#   .item_show-wrapper__main__optionalArea_report
    -#     = icon('fa', 'flag')
    -#     = link_to "不適切な商品の通報","#"
    
    - if @item.buyer_id.present?
      %p.item_buy_out 売り切れ
    - else
      - if user_signed_in? && current_user.id == @seller.id 
        .item_show-wrapper__main__buy
          .item_show-wrapper__main__seller
            .item_show-wrapper__main__seller__edit
              = link_to "編集する",edit_item_path(@item.id),class:"item_show-wrapper__main__seller__edit--btn"
            .item_show-wrapper__main__seller__delete
              = link_to "出品を取り消す","#",class:"item_show-wrapper__main__seller__delete--btn"
      - elsif user_signed_in?
        = link_to "購入画面に進む",confirm_item_path(@item.id),class:"item_show-wrapper__main__buy--btn"
      - else
        = link_to "ログイン画面へ",new_user_session_path ,class:"item_show-wrapper__main__login--btn"

  .item_show-wrapper__comment
    .item_show-wrapper__comment_area
      - if @item.comments
        - @item.comments.each do |comment|
          .item_show-wrapper__comment_area--data
            .item_show-wrapper__comment_area--data__user_name
              %span.item_show-wrapper__comment_area--data__user_name-box
                = comment.user.nickname
                -if user_signed_in? && comment.user_id == @seller.id 
                  %span (出品者)
              -if user_signed_in? && current_user.id == comment.user.id
                .comment__current_user--btn
                  = link_to "編集する", "/items/#{@item.id}/comments/#{comment.id}/edit" ,class:"comment__current_user--btn--edit"
                  = link_to "削除する","/items/#{@item.id}/comments/#{comment.id}",class:"comment__current_user--btn--delet", method: :delete
            .item_show-wrapper__comment_area--data_box
              %p.item_show-wrapper__comment_area--data_box__text
                = comment.text
              .item_show-wrapper__comment_area--data_box__time
                = comment.created_at.strftime("%Y-%m-%d %H:%M")

    .item_show-wrapper__comment_box
      -if @item.buyer_id.nil?
        - if user_signed_in? 
          = render "comments/form"
        - else
          %p.item_show-wrapper__comment_box--not_signed
            ※コメント機能は
            %span.rogin_link
              =link_to "ログイン", new_user_session_path
            %span
              するとできるようになります
      - else

  .item_show-wrapper__itemLinks
    .item_show-wrapper__itemLinks__before
      - if @item.previous.present?
        = link_to icon('fa','angle-left'),"#"
        = link_to "前の商品", item_path(@item.previous.id)
      - else

    .item_show-wrapper__itemLinks__affter
      -if @item.next.present?
        = link_to "後ろの商品", item_path(@item.next.id)
        = link_to icon('fa','angle-right'),"#"





  .item_show-wrapper__relatedItems
    .item_show-wrapper__relatedItems__category_name
      = link_to "#{@item.category.parent.parent.name}  #{@item.category.parent.name}  #{@item.category.name}  をもっと見る","#"
    
    
      .item_show-wrapper__relatedItems__list
        -@items.each do |item|
          .item_show-wrapper__relatedItems__list__box
            =link_to "" ,"/items/#{item.id}"
            .item_show-wrapper__relatedItems__list__box_img
              = image_tag item.images[0].src_url, alt: 'image', height: '150px', width: '220px'
            .item_show-wrapper__relatedItems__list__box_main
              %h6.item_show-wrapper__relatedItems__list__box_main--title
                = item.name
                %ul.item_show-wrapper__relatedItems__list__box_main--data
                  %li
                    ￥
                    = item.price
                %p= item.shipping_burden.name
      
= render partial: "template/footer"