= render 'template/header'
.pankuzu
.item_show-wrapper
  = render 'template/sellbtn'
  .item_show-wrapper__main
    .item_show-wrapper__main__img
      %h2.item_show-wrapper__main__img-title
        = @item.name
      .item_show-wrapper__main__img-main
        = image_tag @images[0].photo, alt: 'メイン画像', height: '350px', width: '560px'
      %ul.item_show-wrapper__main__img-sub 
        - @images.each do |image|
          %li
            = image_tag image.photo, alt: 'サブ画像', height: '90px', width: '100px'
      %p.item_show-wrapper__main__img-price
        = @item.price 
        円
        %p.item_show-wrapper__main__img-price-detail
          -# = @item.ShippingBurden.name
        %p.item_show-wrapper__main__img-price-text
          = @item.explain
    .item_show-wrapper__main__teble
      %table.item_show-wrapper__main__teble__date
        %tr  
          %th  
            出品者
          %td
            = @seller.nickname
        %tr  
          %th 
            カテゴリー
          %td
            = link_to @item.category.name, '#'
            = link_to "ベビー服(男の子用) ~95cm",'#'
            = link_to "アウター",'#'
        %tr  
          %th 
            ブランド
          %td
            = @item.brand
        %tr  
          %th 
            商品のサイズ
          %td
        %tr  
          %th 
            商品の状態
          %td
            = @item.state.name
        %tr  
          %th 
            配送料の負担
          %td
            = @item.shipping_burden.name
        %tr  
          %th  
            発送元の地域
          %td
            = @item.prefecture.name
        %tr  
          %th
            発送日の目安
          %td
            = @item.shipping_day.name
    .item_show-wrapper__main__optionalArea
      .item_show-wrapper__main__optionalArea_like
        = icon('fas', 'star')
        お気に入り 1
      .item_show-wrapper__main__optionalArea_report
        = icon('fa', 'flag')
        = link_to "不適切な商品の通報","#"
    -if user_signed_in? && current_user.id == @seller.id #sellId比較するように変更する
      .item_show-wrapper__main__buy
        .item_show-wrapper__main__seller
          .item_show-wrapper__main__seller__edit
            = link_to "編集する","#",class:"item_show-wrapper__main__seller__edit--btn"
          .item_show-wrapper__main__seller__delete
            = link_to "出品を取り消す","#",class:"item_show-wrapper__main__seller__delete--btn"
    - else
      = link_to "購入画面に進む","#",class:"item_show-wrapper__main__buy--btn"
  
  .item_show-wrapper__comment
    .item_show-wrapper__comment_area
      .item_show-wrapper__comment_area--data
        .item_show-wrapper__comment_area--data__user_name
          %span 通りすがりのチンゲンサイ
          -if user_signed_in? && current_user.id == 2 #sellId比較するように変更する
            %span (出品者)
          -if user_signed_in? && current_user.id == 2 #コメントのユーザーと比較する
            .comment__current_user--btn
              = link_to "編集する","#",class:"comment__current_user--btn--edit"
              = link_to "削除する","#",class:"comment__current_user--btn--delet"
        .item_show-wrapper__comment_area--data_box
          %p.item_show-wrapper__comment_area--data_box__text
            晩ご飯はやっぱり中華がいいと思います。
          .item_show-wrapper__comment_area--data_box__time
            投稿日時: 2020−07−07 17:00

    .item_show-wrapper__comment_box
      = form_with url:'#' do |form|
        = form.text_area :comment, rows: 5, class:'comment_box', placeholder:"コメントを入力してください。"
      - if user_signed_in?
        %p.item_show-wrapper__comment_box_announce
          相手のことを考え丁寧なコメントを心がけましょう。<br>
          不快な言葉遣いなどは利用制限や退会処分となることがあります
        = button_tag type: 'submit', class: "submit_btn" do
          = icon('fa', 'comment')
          コメントする
      - else
        %p.item_show-wrapper__comment_box--not_signed
          ※コメント機能は
          %span.rogin_link
            =link_to "ログイン", "#"
          %span
            するとできるようになります

  .item_show-wrapper__itemLinks
    .item_show-wrapper__itemLinks__before
      = link_to icon('fa','angle-left'),"#"
      = link_to "前の商品", "#"
    .item_show-wrapper__itemLinks__affter
      = link_to "後ろの商品","#"
      = link_to icon('fa','angle-right'),"#"
  .item_show-wrapper__relatedItems
    .item_show-wrapper__relatedItems__category_name
      = link_to "ベビー・キッズをもっと見る","#"
    .item_show-wrapper__relatedItems__list
      .item_show-wrapper__relatedItems__list__box
        =link_to "" ,"#"
        .item_show-wrapper__relatedItems__list__box_img
          = image_tag src="IMG_link.png", alt: 'image', height: '150px', width: '220px'
        .item_show-wrapper__relatedItems__list__box_main
          %h6.item_show-wrapper__relatedItems__list__box_main--title
            products3
            %ul.item_show-wrapper__relatedItems__list__box_main--data
              %li
                30000円
              %li
                = icon('fas', 'star')
                0
            %p（税込）
      .item_show-wrapper__relatedItems__list__box
        =link_to "" ,"#"
        .item_show-wrapper__relatedItems__list__box_img
          = image_tag src="IMG_link.png", alt: 'image', height: '150px', width: '220px'
        .item_show-wrapper__relatedItems__list__box_main
          %h6.item_show-wrapper__relatedItems__list__box_main--title
            products3
            %ul.item_show-wrapper__relatedItems__list__box_main--data
              %li
                30000円
              %li
                = icon('fas', 'star')
                0
            %p（税込）
      .item_show-wrapper__relatedItems__list__box
        =link_to "" ,"#"
        .item_show-wrapper__relatedItems__list__box_img
          = image_tag src="IMG_link.png", alt: 'image', height: '150px', width: '220px'
        .item_show-wrapper__relatedItems__list__box_main
          %h6.item_show-wrapper__relatedItems__list__box_main--title
            products3
            %ul.item_show-wrapper__relatedItems__list__box_main--data
              %li
                30000円
              %li
                = icon('fas', 'star')
                0
            %p（税込）
= render 'template/banner'
= render 'template/footer'